extends layout

block content
  div(ng-controller="ChartExportCtrl")
    div(style="height: 300px; width: 600px; background-color: cyan;")
      linechart(data="chart.data", options="chart.options")
  script.
    var chart = !{chart};
