doctype 5
html
  head
    title= title
    script(src="lib/js/angular.min.js")
    script(src="lib/js/d3.v3.min.js")
    script(src="lib/js/line-chart.js")
    link(rel="stylesheet", href="lib/css/line-chart.css")
    script(src="js/app.js")

  body(ng-app="exporter")
    block content